In [ ]:
#!pip3 install arrow

In [7]:
from pandas_datareader import data
import matplotlib.pyplot as plt
import pandas as pd

start_date = '2010-01-04'
end_date = '2021-09-10'

# SK 하이닉스 주식 데이터 가져오기
data = data.DataReader('TSLA', 'yahoo', start_date, end_date)
display(data.tail())

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2021-09-03,734.000000,724.200012,732.250000,733.570007,15246100.0,733.570007
2021-09-07,760.200012,739.260010,740.000000,752.919983,20039800.0,752.919983
2021-09-08,764.450012,740.770020,761.580017,753.869995,18793000.0,753.869995
2021-09-09,762.099976,751.630005,753.409973,754.859985,14077700.0,754.859985
2021-09-10,762.609985,734.520020,759.599976,736.270020,15114300.0,736.270020

In [8]:
from pyspark.sql import SparkSession
sparkSession = SparkSession.builder.appName("pyspark-hdfs1").getOrCreate()

In [9]:
import numpy as np
import pandas as pd
from pyspark.sql import SparkSession

#Enable Arrow-based columnar data fransfers
sparkSession.conf.set("spark.sql.execution.arrow.enabled", "true")
#GEnerate a pandas DataFrame
pdf = pd.DataFrame(data)
#Create a Spark DataFrame from a pandas DataFrame using Arrow
sdf = sparkSession.createDataFrame(pdf)
sdf.show()

#Convert the Spark DataFrame back to a pandas DataFrame using Arrow
result_pdf = sdf.select("*").ss.createDataFrame(pdf)
read_pdf

+------------------+------------------+------------------+------------------+---------+------------------+
|              High|               Low|              Open|             Close|   Volume|         Adj Close|
+------------------+------------------+------------------+------------------+---------+------------------+
|               5.0| 3.507999897003174| 3.799999952316284|4.7779998779296875|9.38315E7|4.7779998779296875|
| 6.084000110626221| 4.659999847412109|5.1579999923706055| 4.765999794006348|8.59355E7| 4.765999794006348|
| 5.184000015258789| 4.053999900817871|               5.0| 4.392000198364258| 4.1094E7| 4.392000198364258|
| 4.619999885559082| 3.742000102996826| 4.599999904632568|3.8399999141693115| 2.5699E7|3.8399999141693115|
|               4.0|3.1659998893737793|               4.0|3.2219998836517334|3.43345E7|3.2219998836517334|
|3.3259999752044678| 2.996000051498413|3.2799999713897705|3.1600000858306885|3.46085E7|3.1600000858306885|
| 3.503999948501587| 3.114000082015991|3.2279999256134033| 3.492000102996826| 3.8557E7| 3.492000102996826|
|3.5799999237060547| 3.309999942779541|3.5160000324249268|3.4800000190734863| 2.0253E7|3.4800000190734863|
| 3.614000082015991|3.4000000953674316|3.5899999141693115|3.4100000858306885|1.10125E7|3.4100000858306885|
|3.7279999256134033| 3.380000114440918|3.4779999256134033| 3.628000020980835|1.34005E7| 3.628000020980835|
|  4.03000020980835| 3.552000045776367|3.5880000591278076|3.9679999351501465| 2.0976E7|3.9679999351501465|
| 4.300000190734863| 3.799999952316284|  3.98799991607666|3.9779999256134033| 1.8699E7|3.9779999256134033|
| 4.260000228881836| 4.010000228881836| 4.139999866485596| 4.127999782562256|1.31065E7| 4.127999782562256|
| 4.449999809265137| 4.184000015258789|  4.27400016784668| 4.381999969482422|1.24325E7| 4.381999969482422|
| 4.369999885559082| 4.010000228881836| 4.369999885559082| 4.059999942779541|9126500.0| 4.059999942779541|
| 4.179999828338623|3.9000000953674316| 4.131999969482422| 4.044000148773193|6262500.0| 4.044000148773193|
|              4.25| 4.073999881744385| 4.099999904632568| 4.199999809265137|4789000.0| 4.199999809265137|
| 4.311999797821045| 4.211999893188477|  4.23799991607666| 4.257999897003174|3268000.0| 4.257999897003174|
| 4.300000190734863| 4.059999942779541| 4.300000190734863| 4.190000057220459|4611000.0| 4.190000057220459|
| 4.236000061035156| 4.052000045776367| 4.182000160217285| 4.110000133514404|3098500.0| 4.110000133514404|
+------------------+------------------+------------------+------------------+---------+------------------+
only showing top 20 rows

AttributeError: 'DataFrame' object has no attribute 'ss'